{% if craft.amNav.getNavRaw("mainNav") is defined %}
    <nav class="nav nav--main">
        <ul>
            {% set nav = craft.amNav.getNavRaw("mainNav") %}
            {% for node in nav %}
                <li><a href="{{ node.url }}" class="{{ globalMacro.is_active(node.url) }} {{ node.listClass }}" {% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a></li>
            {% endfor %}
            <li>
                {% include '_snippet/_global/_search' %}
            </li>
        </ul>
    </nav>
{% endif %}
