<header class="page-header" role="banner">
    <div class="container">
        <a href="{{ siteUrl }}" class="page-header__logo">
            <img src="{{ craft.rebrand.logo.url }}">
        </a>

        {% include '_snippet/_nav/_main' %}
        <a href="#" class="flyout__link pull--right js-flyout-toggle" role="button">Menu <span class="lines"></span></a>
    </div>
</header>
