<form action="/zoekresultaten" class="search js-search-container">
    <input type="hidden" name="cx" value="003284439842919736641:mejt5-f7s4u">
    <input type="hidden" name="ie" value="UTF-8">

    <div class="form__item search-form js-search-input">
        <input type="search" id="form-search" class="form__text-underline" name="q" placeholder="What are you looking for?">
        <button type="submit" class="btn search__submit">
            <i class="icon icon--search"></i>
            <span class="visuallyhidden">Zoeken</span>
        </button>
    </div>
    <div class="js-search-background search__bg">
        <a href="#" class="search__link js-search-trigger">
            <label class="pointer" for="form-search">
                <i class="icon icon--search"></i>
                <span class="visuallyhidden">Zoeken</span>
            </label>
        </a>
    </div>
</form>
