@mixin block-rhythm() {
  & + & {
    margin-top: $rh-sml;
  }
}

.block {
  display: block;
  &--panel {
    padding: $rh-sml;
    @include breakpoint(map-get($breakpoints, lrg)) {
      padding: $rh-med;
    }
  }
  &--light {
    background: $gray-0;
  }
  &--dark {
    @extend %ext-section-dark;
    background: $gray-100;
  }
  &__section {
    & + & {
      margin-top: $rh-sml;
    }
  }

  @include block-rhythm;
}
