{% extends "_layout" %}
{% import '_macro/_assets' as assets %}


{% set breadcrumbs = [
    entry,
] %}

{% block content %}

    <div class="section section--default">
        <div class="container">
            {% include '_snippet/_content/_pageTitle' %}

            {% include '_snippet/_content/_intro' %}
        </div>
    </div>

    {% include '_snippet/_content/_contentBuilder'
        with { settings : {
        section: 'section',
        container: 'container'
    }
    } %}

    <div class="section section--default section--border-top">
        <div class="container">
            <div class="grid__12 grid--bp-sml__8 grid--bp-sml__offset-2">
                {% include '_snippet/_content/_contentBuilder'
                    with { settings : {
                    centered: true,
                }
                } %}
            </div>
        </div>
    </div>

    <div class="section section--default section--border-top">
        <div class="container">
            <div class="grid">
                <div class="grid__12 grid--bp-sml__8">
                    {% include '_snippet/_content/_contentBuilder'
                        with { settings : {
                        centered: true,
                    }
                    } %}                </div>
                <div class="grid__12 grid--bp-sml__4">
                    SIDEBAR
                </div>
            </div>
        </div>
    </div>


{% endblock %}
